* {
    font-family: monospace;
    margin:0%;
    font-size: 1.1rem;
}
/* Nav Bar */
#Nav {
    background-color: black;
    padding: 1em;
    /* font-size: 1em; */
}

#Nav a {
    color: antiquewhite;
    font: 2em;
    padding: 1em;
    text-decoration: none;
    padding-left: 2em;
    padding-right: 2em;
}

#Nav a:hover{
    background-color: blue;
}

/* Todo Page */
#TodoHome{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
#TodoApp{
    text-align: center;
}
#TodoList{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    /* border-style: solid; */
    
}
.Todo{
    border-style: solid;
    border-color: #B6C7D6;
    border-radius: 20px;
    background-color: #EAF0F6;
}

/* Wivord Page */
#selectWord{
    display: flex;
}

.wivordRow{
    display: flex;
    justify-content: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.gameOptions {
    background-color: lightgray;
    border: 2px solid black;
    width: 1.1em;
    height: 1.1em;
    text-align: center;
    font-size: 1.5em;
}

#gameButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#WivordOnClick {
    display: flex;
    justify-content: center;
}

.green{
    background-color: aquamarine;
}

.grey{
    background-color: lightgray;
}

.yellow{
    background-color: yellow;
}